<a href="https://colab.research.google.com/github/Mez29/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro python 
##Variables
Tipo dinamico 
escuela = FES Aragon

In [5]:
escuela ='FES Aragon'
print(escuela)
print('---------')
edad = 13
estatura=1.67
fumador=True
frase = """
Esta es 
una
frase 
de multiples lineas 
y tambien es 
un tipo de dato
"""
print (frase)
nombre='Jose'
nombre_completo= 'Jose Sosa Cardenas'

FES Aragon
---------

Esta es
una
frase
de multiples lineas
y tambien es
un tipo de dato

#Print 
con comas ","

con signo "+"

con format ()

con el operador  f""

In [6]:
print (nombre,edad)

Jose 13

In [8]:
print (nombre + str(edad))
print (nombre+nombre_completo)

Jose13
JoseJose Sosa Cardenas

In [13]:
#con formato-> Nombre: Su nombre es Jose y su edad es de 13 años.
print('Su nombre es' ,nombre, 'y su edad es de' ,edad, 'años.')
print("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

Su nombre es Jose y su edad es de 13 años.
Su nombre es Jose y su edad es de 13 años.
Su nombre es 13 y su edad es de Jose años.

In [14]:
#con Formato con el operador f""
print (f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Jose y su edad es de 13 años.

#Carácter de escape
\n salto 

\t tabulador

\a beep

\\" imprimir comilla dobre

\\' imprimir comilla simple

In [15]:
"""
Esta es 
una
frase 
de multiples lineas 
y tambien es 
un tipo de dato
"""
print (f"\t Mi nombre es \n\t\t {nombre}")

	 Mi nombre es
		 Jose

#Ayuda de tipos de dato en Python 
dir()

help()

In [ ]:
#str, int, float, bool... list, dict, set
help(str)

In [ ]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="-----")
print(nombre_completo.title())

#Clase String
Es manejada como un arreglo ( c o java) o lista en pyhton

telefono="Huawei mate 30 pro"

In [ ]:
telefono="Huawei mate 30 pro"
print (telefono[5])


#Slicing (rebanado)
[ini:stop:incremento]

nota: el stop no se incluye, termina en el valor anterior al stop

In [ ]:
print(telefono[7:11:1])
#el inicio y el incremento son opcionales 
print(telefono[:11:])
#el valor por defecto de stop es len(str)
print(telefono[::])
#incremento negativo
print(telefono[::-1])
#
print(telefono[-3::1])

#Métodos de String (str)
Existen metodos muy útiles en esta clase

In [56]:
facultad="    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("u")) #cuenta el numero de elemntos en la cadena 
print(facultad.find("s")) #encuentra la posicion en la que se encuentre la variable, pero solo la primera vez
print(facultad.strip())#remueve los espacios en blanco solo al inicio y al final
tamaño=len(facultad)
print(len(facultad))
print(F"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.strip().split(" "))

print("---------------")

#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
facultad="FES Aragón"
print(facultad)
print(otra_cadena)
#copiar listas 
colores =["rojo","verde"]
otra=colores
print(colores)
print (otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

3
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
---------------
    facultad de estudios superiores aragon

FES Aragón
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']